.text-gray-100 {
  color: #f8f9fa !important;
}
.text-gray-200 {
  color: #e9ecef !important;
}
.text-gray-300 {
  color: #dee2e6 !important;
}
.text-gray-400 {
  color: #ced4da !important;
}
.text-gray-500 {
  color: #b0b0b0 !important;
}
.text-gray-600 {
  color: #6c757d !important;
}
.text-gray-700 {
  color: #495057 !important;
}
.text-gray-800 {
  color: #343a40 !important;
}
.text-gray-900 {
  color: #08053f !important;
}
